<div class="about-page">
  <h1>{{ title }}</h1>
  <p>{{ mission }}</p>

  <img [src]="photoUrl" alt="Team photo">

  <p>Likes: {{ likes }}</p>
  <button (click)="likeTeam()">Like 👍</button>
  <button (click)="toggleMessage()">Toggle Message</button>
  <p *ngIf="showMessage">Thank you for visiting!</p>


  <h3>Greeting</h3>
  <input [(ngModel)]="name" placeholder="Enter your name">
  <p *ngIf="name">Hello, {{ name }}!</p>

  <h3>Subscribe</h3>
  <input [(ngModel)]="email" placeholder="Enter your email">
  <button (click)="subscribe()">Subscribe</button>
  <p *ngIf="subscribed">Thanks, {{ email }}, we’ll be in touch!</p>

  <p>toggle example</p>
  <button [disabled]="isButtonDisabled">Toggle</button>

  <button (click)="toggleButton()">
    Toggle Disabled
  </button>

  <h2>Contacts</h2>
  <p>Email: shaken2005kz@gmail.com</p>
  <p>GitHub: <a href="https://github.com/Shaken89" target="_blank">github.com/Shaken89</a></p>
  <p>Telegram: <a href="https://t.me/standopawaaa" target="_blank">Shaken</a></p>

  <router-outlet></router-outlet>
</div>
